.row
  .col-6
    = simple_form_for @bike, wrapper: :horizontal_form do |f|
      = f.input :name
      = f.input :available, as: :boolean
      .row.mt-3
        .col-6
          = link_to t("btn.cancel"), bikes_path, class: "btn btn-secondary"
        .col-6
          .d-flex.flex-row.justify-content-end
            = f.button :submit, t("btn.confirm"), class: "btn btn-primary"
